html, body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
}

button {
    width: 90px;
    height: 90px;
    border-style: none;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23pt;
}

#gridMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 0.5fr;
    height: 100vh;
    margin: 0.25em;
    row-gap: 0.5em;
}

#result {
    width: 100%;
    height: auto;
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    display: inline-block;
    overflow: hidden; /* Hide overflowing content */

}

.buttons {
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.3em;
    row-gap: 0.3em;
}

.numberButtons {
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 1 / span 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.3em;
    row-gap: 0.3em;
}

.operators {
    display: grid;
    grid-column: 4 / span 1;
    grid-row: 1 / span 5;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.3em;
    row-gap: 0.3em;
}

.numberButtons button {
    background-color: rgb(49, 49, 49);
    color: white;
}

#clear, #startBracket, #endBracket, #percent {
    grid-row: 1 / span 1;
    font-size: 24pt;
}

#clear, #btn1, #btn4, #btn7 {
    grid-column: 1 / span 1;
}

#startBracket, #btn2, #btn5, #btn8 {
    grid-column: 2 / span 1;
}

#endBracket, #point, #btn3, #btn6, #btn9 {
    grid-column: 3 / span 1;
}

#percent, #addOperator, #minusOperator, #multiplyOperator, #divideOperator {
    grid-column: 1 / span 1;
}    

#percent, #equals, #addOperator, #minusOperator, #multiplyOperator, #divideOperator {
    background-color: orange;
    color: white;
    font-size: 26pt;
}

#equals {
    grid-column: 4 / span 1;
}

#btn0 {
    width: 100%;
    grid-column: 1 / span 2;
    border-radius: 55px 55px;

    display: flex;
    justify-content: start;
    align-items: center;
    padding:1em;
}

#equals, #btn0, #point {
    grid-row: 5 / span 1;
}

#clear, #startBracket, #endBracket, #percent {
    grid-row: 1 / span 1;
    background-color: darkgray;
}

#btn7, #btn8, #btn9, #multiplyOperator {
    grid-row: 2 / span 1;
}

#btn4, #btn5, #btn6, #minusOperator {
    grid-row: 3 / span 1;
}

#btn1, #btn2, #btn3, #addOperator {
    grid-row: 4 / span 1;
}

#result p {
    font-size: 42pt;
    padding: 0;
    margin: 0;
    text-align: end;
    word-wrap: break-word;
}

@media only screen and (min-width: 750px) {
    body {
        font-size: 24pt;
    }

    button {
        width: 120px;
        height: 120px;
        font-size: 30pt;
    }

    #gridMain {
        grid-template-rows: 1fr 1fr 4fr 0.5fr;
    }

    .numberButtons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .operators {
        grid-template-rows: repeat(5, 1fr);
    }

    #clear, #startBracket, #endBracket, #percent {
        font-size: 30pt;
    }

    #equals {
        font-size: 32pt;
    }

    #btn0 {
        width: 100%;
        border-radius: 70px 70px;
        font-size: 28pt;
    }

    #result p {
        font-size: 60pt;
    }
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
    body {
        font-size: 36pt;
    }

    button {
        width: 150px;
        height: 150px;
        font-size: 40pt;
    }

    #gridMain {
        grid-template-rows: 1fr 1fr 4fr 0.5fr;
    }

    .numberButtons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .operators {
        grid-template-rows: repeat(5, 1fr);
    }

    #clear, #startBracket, #endBracket, #percent {
        font-size: 40pt;
    }

    #equals {
        font-size: 42pt;
    }

    #btn0 {
        width: 100%;
        border-radius: 80px 80px;
        font-size: 38pt;
    }

    #result p {
        font-size: 80pt;
    }
}